body {
    font-family: Arial, sans-serif;
    margin:10px;
    height:330px;
}

a.button {
	color: #000;
	border: solid 1px #000;
	display: inline;
	text-align: center ;
	text-decoration: none;
	border-radius: 3px;
	margin: 20px;
	padding: 2px;
	background: -webkit-linear-gradient(top, #FDFDFD, #A6A6A6);
	cursor:pointer;
}

a:hover.button {
	background: -webkit-linear-gradient(top, #FDFDFD, #606060);
}
li:hover{
	background: #606060;
}

.head{
	margin-left:25px;
}
p{
	font-size:15px;
}
#form-background  {
	width: 280px;
	height:300px;
	border: 1px solid #000;
	background-color: #E6FAF0;
	border-radius: 5px;
}

#form_action{
	width: 180px;
	height: 100px;
	border: 1px solid #000;
	border-radius: 5px;
	margin-left:25px;
}
 .cancel {
	float: left;
	margin-left:20px;
}
 .save {
	float: right;
	margin-right:20px;
}